{# Edit Password #}
<div class="form-edit-password" style="display: none;">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">{{ 'profil.edit.password' | trans }}</h5>

            <form action="{{ url('profil.updatePassword', {'id':user.id}) }}" method="post" class="form-signin"
                  id="form-profil-updatePassword">

                <div class="form-group">
                    <input type="password" name="secretpass" class="form-control" placeholder="{{ 'secretpass' | trans }}" required>
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="{{ 'login.password' | trans }}" required>
                </div>

                <div class="form-group">
                    <input type="password" name="confirmPassword" class="form-control" placeholder="{{ 'repeat.password' | trans }}" required>
                </div>

                <button id="update-password" class="btn btn-lg btn-primary btn-block text-uppercase"
                        type="submit">{{ 'profil.submit' | trans }}
                </button>
                <hr class="my-4">
                <a class="btn btn-lg btn-return-back-page btn-block text-uppercase"
                   href="{{ path('homepage') }}">
                    <i class="fas fa-chevron-left mr-2"></i>
                    {{ 'home.return.back' | trans }}
                </a>
            </form>
        </div>
    </div>
</div>