<!-- Modal -->
<div class="modal fade" id="create-category-modal" tabindex="-1" role="dialog"
     aria-labelledby="create-category-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-category-modal">
                    {{ 'category.intro' | trans }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr':{'class':'form-signin', 'id': 'form-category-create'}}) }}
                <div class="form-group">
                    {{ form_rest(form) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="modal-footer">
                <button id="create-category" type="submit"
                        class="btn btn-primary">{{ 'button.submit' | trans }}</button>
            </div>
        </div>
    </div>
</div>